#modal{
    margin-top: 75vh;
    margin-left: 90vw;
    position: fixed;
}
 #button{
     border-radius: 50%;
    position: fixed;
    bottom: 7vh;
    right: 4vw;
}


.bx--modal-body--modal-14{
    margin-left: 30vw;
}
ul .bx--progress{
    width: 20vw;
    background-color: blueviolet;
}

div .css-8atqhb{
    margin-top: 3vh;
    /* padding: 3.5%; */
    margin-left: 2vw;
    width: 70vw;
    height: 75vh;
    /* border: 1px solid green; */

}

div .MuiStepper-root{
    padding: 2%;
    width: 65vw;

}

div .css-8atqhb p{
    width: 60vw;
    height: 52vh;
    margin-left: 3vw;
    padding-left:1vw;
    padding-top: 7vh;
    margin-top: 0vh;
    /* border: 1px solid blue; */
    display: flex;
    text-align: justify;

}

.modal{
    height: 9vh;
    width: 43vw;
    margin-top: 10vh;

    /* border: 1px solid red; */
}

#back{
    /* width: 60vw; */
    margin-left: 12vw;

}


#stepImg{
    /* border: 1px solid blue; */
    width: auto;
    height: 36vh;
    margin-right: 3vh;
}

#modalText{
    margin-left: 1.2vw;
}

#text{
    margin-top: 5vh;
}